<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="GamerHub"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamerhub"
        android:icon="@drawable/logo_gamerhub"
        android:roundIcon="@drawable/logo_gamerhub">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Gamerhub.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".GameListActivity" android:exported="false" />
        <activity android:name=".GameDetailActivity" android:exported="false" />
        <activity android:name=".ui.EventListActivity"/>
        <activity android:name=".ui.EventDetailActivity"/>
    </application>
</manifest>